*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    width:100vw;
    overflow-x:hidden;
}

#home{
   
    overflow-x:hidden;
}
#moon{
    /* width:400;
    top:70%; */
    display:none;
}
#arow1{

    color:white;
    text-align:center;
    border:1px solid var(--navlink);
    border-radius:10px;
    font-size:20px;
    width:600px;
    background-color:var(--bg);
    opacity:0.7;
    padding:15px;
    display:grid;
    justify-content:center;
    align-items:center;
}


#arow2{
    color:var(--nilbg);
    display:grid;
    grid-template-columns: auto auto;
    justify-content:center;
    align-content:center;
    grid-column-gap: 20px;

}

#botpic{

    height:150px;
    width:150px;
    border:1px solid var(--navlink);
    background-color:var(--bg );
    opacity:0.7;
    color:var(--nilbg);
    display:grid;
    justify-content:center;
    align-content:center;
    /* z-index:4; */
    border-radius:10px;



}

#botdesc{
    height:150px;
    width:400px;
    border:1px solid var(--navlink);
    background-color:var(--bg );
    opacity:0.7;
    color:var(--nilbg);
    display:grid;
    justify-content:center;
    align-content:center;
    text-align:center;
    /* z-index:4; */
    font-size:20px;
    line-height:34px;
    border-radius:10px;
}

#about{
    height:400px;
}
#events{
    margin-top:0px;
    position:absolute;
    top:140vh;
}