:root{
    --bg: #000;
    --navlink:orange;
    --nilbg:#fff;
    --white: #ffffff;
    --black: #000;
    --grey : #D3D3D3;
    --facebook: #3b5999;
    --youtube: #FF0000;
    --instagram: #e4405f;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body, html{
    scroll-behavior:smooth;
    overflow-x: hidden;
}

#navigation{
    width:100vw;
    background-color:transparent;
}

#navigation ul li{
    padding-left:31px
}

#navigation ul li:first-child{
    margin-top:31px;
}

#navtoggler{
    background-color:var(--navlink);
    font-weight:600;
    color:white;
    border-radius:8px;
    padding:3px;

}
#home{
    width:100vw;
}

#moon{
    display:block;
    width:538px;
   top:100vh;
   z-index:-1;
}





#owl-left, #owl-right{
    display:none;
}

#owl-right{
    margin-right: -63px;
}

#owl{
    display:block;  
    width:538px;
    height:auto;
    margin-top: 172px;
    position:absolute;
    left:50%;
    transform:translate(-50%);
    z-index:-1;
}


#home #logo {
    height: 211px;
    width: 100vw;
    display: block;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}


#hbox1{
    position:absolute;
    top: 367px;
    left:50%;
    transform:translate(-50%);
    display:grid;
    grid-template-columns:auto auto;
}



#socialmedialinks{
    top: 507px;
}

#scrollDown{
    top: 138vh;
}

#arow1{

    color:white;
    text-align:center;
    border:1px solid var(--navlink);
    border-radius:15px;
    font-size:20px;
    width:506px;
    background-color:var(--bg);
    opacity:0.7;
    padding:23px;
    display:grid;
    position:absolute;
    transform:translate(-50%, -50%);
    left:50%;
    top:50%;
    margin-top:31px;
}

#arow2{
    color:var(--nilbg);
    position:relative;
    top:150px;

}

#about{
    height:100vh;
    top:31px;
}


#botpic{

    height:230px;
    width:307px;
    border:1px solid var(--navlink);
    background-color:var(--bg );
    opacity:0.7;
    color:var(--nilbg);
  position:absolute;
    z-index:4;
    border-radius:10px;
    left:50%;
    top:60%;
    transform:translate(-50%, -50%);



}

#botdesc{
    height:230px;
    width:537px;
    border:1px solid var(--navlink);
    background-color:var(--bg );
    opacity:0.7;
    color:var(--nilbg);
  position:absolute;
  left:50%;
    top:230px;
    transform:translate(-50%, -50%);

    text-align:center;
    z-index:4;
    font-size:20px;
    line-height:52px;
    border-radius:10px;
}



#events{
    margin-top:0px;
}

.swiper-container {
    display:grid;
    grid-template-columns: 340px 340px 340px;
  width: 100%;
text-align:center;
height:614px;
  
}

#eselectionContainer
{
    display:grid;
    align-content:center;
    justify-content:center;
    width:100%;
    height:92px;
    grid-auto-flow: column;
    grid-column-gap:31px;
margin-top:62px;
}
#eventcontainer{
    position:relative;
    margin-top:62px;
}

@media only screen and (max-width: 400px){

    #moon{

        margin-top:6vh;
    }
    #hbox1 span:first-child, #hbox1 span:last-child {
    font-size: 130px;
}

#hbox1 span {
    font-size: 107px;

}

}