body{
    margin: 0;
}
.svg-inline--fa {
    vertical-align: -0.2em;
  }
  
  .rounded-social-buttons {
    text-align: center;
    margin-top: 20px;
  }
  
  .rounded-social-buttons .social-button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 3.125rem;
    height: 3.125rem;
    border: 0.125rem solid transparent;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #fefefe;
    font-size: 1.5625rem;
    font-weight: normal;
    line-height: 2em;
    border-radius: 1.6875rem;
    transition: all 0.5s ease;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
    border-color: #125688;
  }
  
  .rounded-social-buttons .social-button:hover,
  .rounded-social-buttons .social-button:focus .social-button github {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  
  .rounded-social-buttons .fa-twitter,
  .fa-facebook-f,
  .fa-linkedin,
  .fa-youtube,
  .fa-instagram,
  .fa-github
  .fa-phone
  .fa-envelope {
    font-size: 25px;
  }
  
  .rounded-social-buttons .social-button.facebook {
    background: #3b5998;
  }
  
  .rounded-social-buttons .social-button.facebook:hover,
  .rounded-social-buttons .social-button.facebook:focus {
    color: #3b5998;
    background: #fefefe;
    border-color: #3b5998;
  }
  
  .rounded-social-buttons .social-button.twitter {
    background: #55acee;
  }
  
  .rounded-social-buttons .social-button.twitter:hover,
  .rounded-social-buttons .social-button.twitter:focus {
    color: #55acee;
    background: #fefefe;
    border-color: #55acee;
  }
  
  .rounded-social-buttons .social-button.linkedin {
    background: #007bb5;
  }
  
  .rounded-social-buttons .social-button.linkedin:hover,
  .rounded-social-buttons .social-button.linkedin:focus {
    color: #007bb5;
    background: #fefefe;
    border-color: #007bb5;
  }

  
  .rounded-social-buttons .social-button.instagram {
    background: -webkit-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    background: #f09433;
    background: -moz-linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    background: linear-gradient(
      45deg,
      #f09433 0%,
      #e6683c 25%,
      #dc2743 50%,
      #cc2366 75%,
      #bc1888 100%
    );
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  }
  .rounded-social-buttons .social-button.github {
    background: black;
    border-color: #125688;
  }
  .rounded-social-buttons .social-button.github:hover,
  .rounded-social-buttons .social-button.github:focus {
    color: grey;
    background: black;
    border-color: grey;
  }
  .rounded-social-buttons .social-button.instagram:hover,
  .rounded-social-buttons .social-button.instagram:focus {
    color: #125688;
    background: #fefefe;
    border-color: #125688;
  }

  .rounded-social-buttons .social-button.phone {
    background: #bb0000;
  }
  
  .rounded-social-buttons .social-button.phone:hover,
  .rounded-social-buttons .social-button.phone:focus {
    color: #685555;
    background: #fefefe;
    border-color: #042e4d;
  }
  
  .rounded-social-buttons .social-button.envelope {
    background: #685555;
  }
  
  .rounded-social-buttons .social-button.envelope:hover,
  .rounded-social-buttons .social-button.envelope:focus {
    color: #bb0000;
    background: #fefefe;
    border-color: #bb0000;
    border-color: #125688;
  }

  .social-icons {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .social-icon {
    opacity: 0;
    transition: opacity 0.3s;
  }
  .social-icon svg {
    overflow: visible !important;
  }
  .social-icon .si-splash,
  .social-icon .si-grid {
    display: none;
    visibility: hidden;
  }
  .social-icon .si-icon {
    transform-origin: "center center";
  }
.gm-err-content {
    border-radius: 1px;
    padding-top: 0;
    padding-left: 10%;
    padding-right: 10%;
    position: static;
    vertical-align: middle;
    display: table-cell;
}
#footer { 
    margin-top: 10px;
    padding: 4vw 0 0;
    color: orange;
    background-color: #1c1c1bff; }

#footer #map {
    height: 450px;
    background-color: orange;
    background-image:url('a.jpg');
}
#footer * { line-height: 180%; }
#footer #footer-bottom { background-color: orange; }

@media (max-width: 992px) { #footer #contact { border: none !important; } }