:root{
    --bg: #000;
    --navlink:orange;
    --nilbg:#fff;
    --white: #ffffff;
    --black: #000;
    --grey : #D3D3D3;
    --facebook: #3b5999;
    --youtube: #FF0000;
    --instagram: #e4405f;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body, html{
    scroll-behavior:smooth;
}

body{
    background-color: var(--bg);
}

/* navigation menu ===========================================================================*/

#navigation{
    
    /* background-color:var(--bg); */

}


#navigation li:hover{

    background-color:var(--navlink);
    border-radius:10px;
}


#navigation li a{
    color:var(--navlink);
    font-weight:700;
}

 #navigation a:hover{

    color:var(--nilbg);
     
 }

 #login{
     position:absolute;
left:50%;
top:50%;
transform:translate(-50%, -50%);   
width:100%; 
 }

 #voicerec{
     position:absolute;
     right:10px;
     top:15px;

 }

 #voicerec button{

    background:transparent;
    outline: none;
    padding:0;
    border:none;
    color:var(--navlink);
    font-size:18px;
    

 }

 #login button{
     background-color:transparent;
     color:var(--navlink);
     font-weight:600;
     outline:none;
     border:1px solid var(--navlink);
     position:absolute;
     left:50%;
     transform:translateX(-50%);
     top:-35px;
     z-index:100;

 }

 #login button:hover{
     background-color:white;
     border:2px solid var(--navlink);
     font-weight:700;
     color:var(--navlink);
 }
/* ========================================================================================== */
#home{
    width:100%;
    background-color:transparent;
    position:relative;
    height:100vh;
}

#home #logo{
    height:150px;
    width:auto;
    display:block;
    position:absolute;
    top:80px;
    left:50%;
    transform:translateX(-50%);
}
#hbox1{
    position:absolute;
    top:220px;
    left:50%;
    transform:translate(-50%);
    display:grid;
    grid-template-columns:auto auto;
}

#hbox1 span{
    color:white;
    font-size:80px;
    font-family:'Times New Roman', Times, serif;
    
}
#hbox1 span:first-child, #hbox1 span:last-child{

    font-size:95px;
}

#hbox1 span:nth-child(3), #hbox1 span:nth-child(4), #hbox1 #year span:nth-child(1){
    color:var(--navlink);
}

#hbox1 #year{
    left:50%;
    transform: translate(-50%);
    position:absolute;
    top:120px;
    
}
#hbox1 #year span{
    font-size:40px;
}

#owl{
    display:none;
}

#owl-left{
    display:block;
    position:absolute; 
    top:40px;
    background:transparent;
    left:0;
    transform:rotateY(180deg);
    z-index:-1;
}
#owl-right{
    /* display:block; */
    position:absolute;
    right:0;
    top:40px;
    background:transparent;
    z-index:-1;

}
#moon{
    display:block;
    position:absolute;
    left:50%;
    top:134%;
    transform:translate(-50%, -50%);
    width:900px;
    opacity:0.3;
    border-radius:50%;
    z-index:-1;

}

/* social media icons  */


  
  #socialmedialinks{
      margin-top:75px;
      position:absolute;
      left:50%;
      top:50%;
      transform:translate(-50%, -50%);
  }

  #socialmedialinks a{
      text-decoration:none;
      color:var(--nilbg);
  }
  
  
  .social-media-link--facebook:before {
    background-image: linear-gradient(45deg, #333333 0%, #333333 49%, #5F7AAE 50%);
  }
  

  
  .social-media-link--instagram:before {
    background-image: linear-gradient(45deg, #333333 0%, #333333 49%, var(--instagram) 50%);
  }
  

  
  .social-media-link--youtube:before {
    background-image: linear-gradient(45deg, #333333 0%, #333333 49%, var(--youtube) 50%);
  }
  
  .social-media-links {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 100px;
  }
  
  .social-media-link {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    position: relative;
    transition: transform 0.5s ease-in-out;
    border-radius:50%;
  }
  .social-media-link > i {
    z-index: 1;
  }
  .social-media-link:before {
    border-radius:50%;
    width: 45px;
    height: 45px;
    content: "";
    position: absolute;
    background-size: 300%;
    background-position: 0% 0%;
    transition: background-position 0.55s cubic-bezier(0.79, 0.14, 0.15, 0.86);
  }
  .social-media-link:hover, .social-media-link:active, .social-media-link:focus {
    transform: translateY(-1px);
    /* This padding-bottom helps the pointer do stay inside the link,
    avoiding the animation to flicker. */
    padding-bottom: 10px;
  }
  .social-media-link:hover:before, .social-media-link:active:before, .social-media-link:focus:before {
    background-position: top right;
  }
  .social-media-link + .social-media-link {
    margin-left: 4px;
  }

  /* #socialmedialinks{
      top:400px;
      position:absolute;
      left:50%;
      transform:translateX(-50%);
  } */
 

#scrollDown{

    font-size:65px;
    color:var(--navlink);
    position:absolute;
    top:80%;
    left:50%;
    transform:translate(-50%) rotate(180deg);
    border:2px solid var(--navlink);
display:grid;
place-items: center;
height:60px;
width:60px;
border-radius:50%;
opacity:.3


}

#scrollDown a{
    color:var(--navlink);
    text-decoration:none;
}
#scrollDown span{
    margin-bottom:0px;
    position:absolute;
    animation:scrollDown 3s infinite;

}
@keyframes scrollDown{
    0%, 100%{
        top:-15%;
    }
    50%{
        top:-30%;
    }
}

#scrollDown:hover{
    opacity:1;
}





/* ======================================== */

/* background appearances */


  canvas {
    display: block;
   
    overflow:hidden;
    position:absolute;
    top:80vh;
    left:-2%;
    z-index:-2;
  }

  #downtoup{
      font-size:40px;
      color:var(--navlink);
      font-weight: 500;
      position:fixed;
      bottom:10px;
      right:10px;
      z-index:5;
  }

  #downtoup a{
      text-decoration:none;
      color:var(--navlink);

  }
  #downtoup:hover a{
   color:orangered;
}
  
  


/* ================================== */

#about{
    width:100%;
    height:auto;
    background-color:transparent;
    overflow:hidden;
    position:relative;
}


#aheading{
    color:var(--navlink);
    font-size:40px;
    font-weight:700;

}

#arow1{

    color:white;
    text-align:center;
    border:1px solid var(--navlink);
    border-radius:10px;
    font-size:20px;
    width:700px;
    background-color:var(--bg);
    opacity:0.7;

    padding:15px;
    display:grid;
    justify-content:center;
    align-items:center;
}


#arow2{
    color:var(--nilbg);
    display:grid;
    grid-template-columns: auto auto;
    justify-content:center;
    align-content:center;
    grid-column-gap: 20px;

}

#botpic{

    height:150px;
    width:200px;
    border:1px solid var(--navlink);
    background-color:var(--bg );
    opacity:0.7;
    color:var(--nilbg);
    display:grid;
    justify-content:center;
    align-content:center;
    z-index:4;
    border-radius:10px;



}

#botdesc{
    height:150px;
    width:500px;
    border:1px solid var(--navlink);
    background-color:var(--bg );
    opacity:0.7;
    color:var(--nilbg);
    display:grid;
    justify-content:center;
    align-content:center;
    text-align:center;
    z-index:4;
    font-size:20px;
    line-height:34px;
    border-radius:10px;
}


#botdesc span{
    color:var(--navlink);
    font-size:22px;
}

#botdesc span:nth-child(1){
    font-size:20px;

}

/* events section sliding swiper js effects */
.swiper-container {
    display:grid;
    grid-template-columns: 380px 380px 380px;
  width: 100%;
text-align:center;
height:400px;
  
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  border:2px outset var(--navlink);
 

}
/* 

/* ================================================================= */

/* events group */

#events{
    height:100vh;
    width:100%;
    background-color:transparent;
    color:var(--nilbg);
    margin-top:250px;
   

}

#eheading{
    width:100%;
    display:grid;
    font-size:40px;
    color:var(--navlink);
    font-weight:700;
    align-content:center;
    justify-content:center;
    padding-top:10px;
}

#eventcontainer{
    position:relative;
}

#eselectionContainer
{
    display:grid;
    align-content:center;
    justify-content:center;
    width:100%;
    height:60px;
    grid-auto-flow: column;
    grid-column-gap:20px;

}

#eselectionContainer > button{

    outline:none;
    background-color:transparent;
    border:1px solid var(--navlink);
    border-radius:10px;
    padding:5px;
    color:var(--navlink);
    text-transform:uppercase;
    font-weight:600;
}

#eselectionContainer > button:hover{

   background-color:var(--navlink);
   color:var(--nilbg);
}

#eselectionContainer > button:focus{

    border:2px solid var(--nilbg);
    transform:scale(1.05);
 }


#esection{

    display:grid;
    position:absolute;
    width: 100%;
    margin-left:0%;
    margin-top:30px;
}
#enormal{

    display:grid;
    width: 100%;
    margin-left:-100%;
    position:absolute;
    margin-top:30px;

}
#eworkshop{

    display:grid;
    width: 100%;
    margin-left:-100%;
    position:absolute;
    margin-top:30px;


}

@keyframes animEsection{

    from{
        margin-left:-100%;
    }
    to{
        margin-left:0%;
    }

}
@keyframes animEsection2{

    from{
        margin-left:0%;
    }
    to{
        margin-left:-100%;
    }

}

#eviewmore{
    width:100%;
    display:grid;
    justify-content: center;
    align-items:center;
    padding:5px;
    /* position:absolute; */
    z-index:5;
    margin-top:600px;

}

#eviewmore > button{

    background-color:transparent;
    border:1px solid var(--navlink);
    border-radius:5px;
    color:var(--navlink);
    font-weight:700;
    padding:6px;
    text-transform:uppercase;
}

#eviewmore span{
    display:none;


}

#eviewmore:hover span{
    display:inline-block; 
}

#eviewmore > button:hover{
    color:var(--nilbg);
    background-color:var(--navlink);
}