:root {
  --mainClr: black;
  --subClr: orange;
  --subClr2: white;
  --facebook: #3b5999;
  --youtube: #ff0000;
  --instagram: #e4405f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  resize: both;
}

body,
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--mainClr);
}

#navigation li a {
  color: var(--subClr);
  font-weight: 700;
}

#navigation li:hover {
  background-color: var(--subClr);
  border-radius: 10px;
}

#navigation a:hover {
  color: var(--subClr2);
}

.container-fluid {
  margin: 0;
  padding: 0;
}

#home,
#events {
  width: 100%;
  height: 100vh;
  overflow:hidden;
  position:relative;
  z-index:0;
  background-color:transparent;
}

#owl-left,
#owl-right {
  height: 500px;
  display: block;
  position: absolute;
  top: 100px;
}
#owl-right {
  right: 0;
  transform: rotateY(180deg);
}

#owl {
  display: none;
}

#logo {
  height: 160px;
  width: auto;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100px;
}
#hbox1 {
  width: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#hbox1 span {
  color: var(--subClr2);
  font-size: 80px;
  font-family: "Times New Roman", Times, serif;
}
#hbox1 span:first-child,
#hbox1 span:last-child {
  font-size: 95px;
}

#hbox1 span:nth-child(3),
#hbox1 span:nth-child(4),
#hbox1 #year span:nth-child(1) {
  color: var(--subClr);
}

#hbox1 #year {
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  top: -35px;
}
#hbox1 #year span {
  font-size: 40px;
}

.socialmedialinks {
  margin-top: -60px;
}
.socialmedialinks a {
  text-decoration: none;
  color: var(--subClr2);
}

.social-media-link--facebook:before {
  background-image: linear-gradient(
    45deg,
    #000 0%,
    #000 49%,
    var(--facebook) 50%
  );
}

.social-media-link--instagram:before {
  background-image: linear-gradient(
    45deg,
    #000 0%,
    #000 49%,
    var(--instagram) 50%
  );
}

.social-media-link--youtube:before {
  background-image: linear-gradient(
    45deg,
    #000 0%,
    #000 49%,
    var(--youtube) 50%
  );
}

.social-media-links {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 100px;
}

.social-media-link {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  position: relative;
  transition: transform 0.5s ease-in-out;
  border-radius: 50%;
}
.social-media-link > i {
  z-index: 1;
}
.social-media-link:before {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  content: "";
  position: absolute;
  background-size: 300%;
  background-position: 0% 0%;
  transition: background-position 0.55s cubic-bezier(0.79, 0.14, 0.15, 0.86);
}
.social-media-link:hover,
.social-media-link:active,
.social-media-link:focus {
  transform: translateY(-1px);
  padding-bottom: 10px;
}
.social-media-link:hover:before,
.social-media-link:active:before,
.social-media-link:focus:before {
  background-position: top right;
}
.social-media-link + .social-media-link {
  margin-left: 4px;
}

#scrollDown {
  color: var(--subClr);
  position: absolute;
  top: 110%;
left:50%;
transform:translateX(-50%);
  opacity: 0.3;
}

#scrollDown i{
    font-size:40px;
    animation:scrollDown 2s infinite;
}
@keyframes scrollDown{
    from{
        transform:rotate(0);
    }to{
        transform:rotate(360deg);
    }
}
#scrollDown a {
  color: var(--subClr);
  text-decoration: none;
}


#scrollDown:hover {
  opacity: 1;
}

canvas{
  top:45%;
  left:-2%;
  resize:both;
  position:absolute;
  z-index:-3;
}

#moon {
  display: block;
  width: 900px;
  opacity: 0.3;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 19%);
  z-index: -2;
  /* display:none; */
}
.about-curved {
  position: absolute;
  /* background: var(--subClr); */
 height:100vh;
 opacity:0.4;
 width:50%;
 border-radius:0% 100% 100% 0% / 0% 50% 50% 100%  ;
 
  left:0;
  top:0;

}

.card{
  background-color:var(--mainClr);
  border-radius:15px;
  color:var(--subClr2);
  opacity:0.8;
  border:2px solid var(--subClr);
  position:relative;
}
.roundedCard{
  position:absolute;
  height:150px;
  width:150px;
  resize:both;
  border:2px solid var(--subClr);
  border-radius:50%;
  left:-5vmin;
  top:50%;
  transform:translate(0, -50%);
  background-color:var(--mainClr);
  animation: roundedCard 1s forwards 3s;
}

@keyframes roundedCard {
  from{
  left:-5vmin;

  }
  to{
    left:-20vmin;
  }
}
.roundedCard img{
  display:block;
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
}
#aheading,
#eheading {
  color: var(--subClr);
  font-weight: 700;
}

#arow1,
#botdesc {
  background-color: var(--mainClr);
  border-radius: 15px;
  opacity: 0.6;
  border: 2px solid var(--subClr);
  font-size: larger;
  color: var(--subClr2);
  font-weight: 500;
}

#botdesc {
  display: flex;
  align-items: center;
}
#botdesc span,
#arow1 span {
  color: var(--subClr);
  font-size: 22px;
}


#botdesc span:nth-child(1) {
  font-size: 20px;
}

#events {
  /* z-index: -1; */
  margin-bottom: 180px;
}
#ebuttons {
  display: grid;
  justify-content: center;
  grid-auto-flow: column;
  grid-column-gap: 25px;
}

#view{
  margin-top:-5%;
  background-color:transparent;
}
#ebuttons button,
#viewbtn {
  border: 2px solid var(--subClr);
  background-color: transparent;
  color: var(--subClr);
  border-radius: 10px;
  font-weight: 700;
}

#ebuttons button:hover,
#ebuttons button:focus,
#viewbtn:hover,
#viewbtn:focus {
  background-color: var(--subClr2);
  color: var(--subClr);
  font-weight: 700;
}

.eventsection {
  display: grid;
  position: absolute;
  width: 100%;
  margin-left: 0%;
  margin-top: 30px;
}

#esection2,
#esection3 {
  margin-left: -100%;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  z-index: 0;
}

.swiper-slide {
  background-position: center;
  background-size: contain;
  width: 300px;
  height: 400px;
  background-repeat:no-repeat;
}
/* 
.swiper-container {
    display:grid;
    grid-template-columns: 380px 380px 380px;
  width: 100%;
text-align:center;
height:400px;
z-index:0;
  
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  border:2px outset var(--navlink);
  z-index:0;
 

} */

@keyframes animEsection {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}
@keyframes animEsection2 {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: -100%;
  }
}
#viewmore {


  height:10vh;
 
}
#viewbtn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
#viewbtn span {
  display: none;
}
#viewbtn:hover span {
  display: inline;
}

.curved {
  background: var(--subClr);
  position:relative;
  height: 30vh;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}

footer {
  position: absolute;
  width: 100%;
  background: var(--mainClr);
  color: #868c96;
  /* margin-top: 20px; */
  bottom:5%;
  border-radius: 25% 23% 10% 10% / 89% 89% 10% 10%;
}

footer p {
  padding: 20px 0;
  text-align: center;
}

#upbtn {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
#upbtn .fa {
  font-size: 36px;
  background-color: var(--mainClr);
  border-radius:50%;
}
#upbtn a {
  text-decoration: none;
  color: var(--subClr);
}
#upbtn a:hover,
#upbtn a:focus {
  color: orangered;
}
.btn:focus {
  outline: none;
}
/* canvas {
    display: block;
   
    overflow:hidden;
    position:absolute;
    top:80vh;
    left:-2%;
    z-index:-4;
    background-color: transparent;
  } */

@media only screen and (min-width: 767px) and (max-width: 1023px) {
  #moon {
    width: 700px;
  }
}


/* based on the height of the  */
@media only screen and (min-height: 1100px) {
  #home,
  #about,
  #events {
    height: 50vh;
  }
  #hbox1 {
    top:50%;
   left:50%;
   transform:translate(-50%, -50%);
  }

  #moon {
    transform: translate(-50%, -20%);
  }
  .curved {
    height: 16vh;
  }

  @keyframes roundedCard {
    from{
    left:-5vmin;
  
    }
    to{
      left:-13vmin;
    }
  }

}


@media only screen and (max-width: 768px) {
  #moon {
    width: 540px;
    height: 540px;
  }

  .roundedCard{

    left:50%;
    transform:translate(-50%, -50%);
    top:12vmin;

    animation:lroundedCard 1s forwards;

  }

  .card{
    margin-bottom:150px;
  }

  .card:nth-child(1){
    margin-top:130px;
  }

 
  @keyframes lroundedCard{
    from{

      top:12vmin;
    }to{
      top:-15vmin;
    }
  }

}


@media only screen and (min-height:950px)
{
  #home,
  #about,
  #events{
    height:60vh;
  }
#logo{
  height:130px;
}
  #owl-right,
  #owl-left {
    height:400px;
  }
  .curved{
    height:20vh;
  }
#view{
  margin-top:-19%;
}

@keyframes lroundedCard{
  from{

    top:12vmin;
  }to{
    top:-7vmin;
  }

}

#events{

  margin-top:150px;
  
}



}


/* 540px and below */
@media only screen and (max-width: 540px) {
  #navigation {
    z-index: 1;
  }
  #view{
    margin-top:-35%;
  }
  #events {
  
    margin-bottom: 100px;
  }

 

  #moon {
  display:none;
  }

 

  #scrollDown {
    bottom: 6vh;
  }
 
  #owl-left,
  #owl-right {
    display: none;
  }

  #owl {
    width: 275px;
    height: auto;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 188px;
  }
  
  @keyframes lroundedCard{
    from{

      top:12vmin;
    }to{
      top:-12vmin;
    }
  }
}

@media only screen and (max-width: 400px) {

  #events{
    height:110vh;
  }
  #logo {
    height: 150px;
    width: auto;
  }

  #hbox1 span {
    color: var(--subClr2);
    font-size: 70px;
    font-family: "Times New Roman", Times, serif;
  }
  #hbox1 span:first-child,
  #hbox1 span:last-child {
    font-size: 85px;
  }

  #hbox1 #year span {
    font-size: 30px;
  }

  #moon {
    width: 300px;
    height: 300px;
  }

  .swiper-container {
    width: 99.8%;
    /* height:450px; */
  }

 
 

  #events {
    margin-top: 100px;
  }
  
  @keyframes lroundedCard{
    from{

      top:12vmin;
    }to{
      top:-16vmin;
    }
  }
}

