@import url("https://fonts.googleapis.com/css2?family=Potta+One&display=swap");
:root {
  --mainClr: black;
  --subClr: orange;
  --subClr2: white;
  --facebook: #3b5999;
  --youtube: #ff0000;
  --instagram: #e4405f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  resize: both;
}

#loader-wrapper{
 width:100%;
 height:100%;
 background-color:var(--mainClr);
 position:fixed;
 z-index:1000000;
}
:root {
  --background: #000000;
}

.loader {
  --duration: 3s;
  --primary: #ffce1c;
  --primary-light: #fca308;
  --primary-rgba: #d1a402;
  width: 200px;
  height: 320px;
  position: relative;
  transform-style: preserve-3d;
}
@media (max-width: 480px) {
  .loader {
    zoom: 0.44;
  }
}
.loader:before, .loader:after {
  --r: 20.5deg;
  content: "";
  width: 320px;
  height: 140px;
  position: absolute;
  right: 32%;
  bottom: -11px;
  background: var(--background);
  transform: translateZ(200px) rotate(var(--r));
  -webkit-animation: mask var(--duration) linear forwards infinite;
          animation: mask var(--duration) linear forwards infinite;
}
.loader:after {
  --r: -20.5deg;
  right: auto;
  left: 32%;
}
.loader .ground {
  position: absolute;
  left: -50px;
  bottom: -120px;
  transform-style: preserve-3d;
  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
}
.loader .ground div {
  transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px) translateZ(100px) scale(0);
  width: 200px;
  height: 200px;
  background: var(--primary);
  background: linear-gradient(45deg, var(--primary) 0%, var(--primary) 50%, var(--primary-light) 50%, var(--primary-light) 100%);
  transform-style: preserve-3d;
  -webkit-animation: ground var(--duration) linear forwards infinite;
          animation: ground var(--duration) linear forwards infinite;
}
.loader .ground div:before, .loader .ground div:after {
  --rx: 90deg;
  --ry: 0deg;
  --x: 44px;
  --y: 162px;
  --z: -50px;
  content: "";
  width: 156px;
  height: 300px;
  opacity: 0;
  background: linear-gradient(var(--primary), var(--primary-rgba));
  position: absolute;
  transform: rotateX(var(--rx)) rotateY(var(--ry)) translate(var(--x), var(--y)) translateZ(var(--z));
  -webkit-animation: ground-shine var(--duration) linear forwards infinite;
          animation: ground-shine var(--duration) linear forwards infinite;
}
.loader .ground div:after {
  --rx: 90deg;
  --ry: 90deg;
  --x: 0;
  --y: 177px;
  --z: 150px;
}
.loader .box {
  --x: 0;
  --y: 0;
  position: absolute;
  -webkit-animation: var(--duration) linear forwards infinite;
          animation: var(--duration) linear forwards infinite;
  transform: translate(var(--x), var(--y));
}
.loader .box div {
  background-color: var(--primary);
  width: 48px;
  height: 48px;
  position: relative;
  transform-style: preserve-3d;
  -webkit-animation: var(--duration) ease forwards infinite;
          animation: var(--duration) ease forwards infinite;
  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
}
.loader .box div:before, .loader .box div:after {
  --rx: 90deg;
  --ry: 0deg;
  --z: 24px;
  --y: -24px;
  --x: 0;
  content: "";
  position: absolute;
  background-color: inherit;
  width: inherit;
  height: inherit;
  transform: rotateX(var(--rx)) rotateY(var(--ry)) translate(var(--x), var(--y)) translateZ(var(--z));
  filter: brightness(var(--b, 1.2));
}
.loader .box div:after {
  --rx: 0deg;
  --ry: 90deg;
  --x: 24px;
  --y: 0;
  --b: 1.4;
}
.loader .box.box0 {
  --x: -220px;
  --y: -120px;
  left: 58px;
  top: 108px;
}
.loader .box.box1 {
  --x: -260px;
  --y: 120px;
  left: 25px;
  top: 120px;
}
.loader .box.box2 {
  --x: 120px;
  --y: -190px;
  left: 58px;
  top: 64px;
}
.loader .box.box3 {
  --x: 280px;
  --y: -40px;
  left: 91px;
  top: 120px;
}
.loader .box.box4 {
  --x: 60px;
  --y: 200px;
  left: 58px;
  top: 132px;
}
.loader .box.box5 {
  --x: -220px;
  --y: -120px;
  left: 25px;
  top: 76px;
}
.loader .box.box6 {
  --x: -260px;
  --y: 120px;
  left: 91px;
  top: 76px;
}
.loader .box.box7 {
  --x: -240px;
  --y: 200px;
  left: 58px;
  top: 87px;
}
.loader .box0 {
  -webkit-animation-name: box-move0;
          animation-name: box-move0;
}
.loader .box0 div {
  -webkit-animation-name: box-scale0;
          animation-name: box-scale0;
}
.loader .box1 {
  -webkit-animation-name: box-move1;
          animation-name: box-move1;
}
.loader .box1 div {
  -webkit-animation-name: box-scale1;
          animation-name: box-scale1;
}
.loader .box2 {
  -webkit-animation-name: box-move2;
          animation-name: box-move2;
}
.loader .box2 div {
  -webkit-animation-name: box-scale2;
          animation-name: box-scale2;
}
.loader .box3 {
  -webkit-animation-name: box-move3;
          animation-name: box-move3;
}
.loader .box3 div {
  -webkit-animation-name: box-scale3;
          animation-name: box-scale3;
}
.loader .box4 {
  -webkit-animation-name: box-move4;
          animation-name: box-move4;
}
.loader .box4 div {
  -webkit-animation-name: box-scale4;
          animation-name: box-scale4;
}
.loader .box5 {
  -webkit-animation-name: box-move5;
          animation-name: box-move5;
}
.loader .box5 div {
  -webkit-animation-name: box-scale5;
          animation-name: box-scale5;
}
.loader .box6 {
  -webkit-animation-name: box-move6;
          animation-name: box-move6;
}
.loader .box6 div {
  -webkit-animation-name: box-scale6;
          animation-name: box-scale6;
}
.loader .box7 {
  -webkit-animation-name: box-move7;
          animation-name: box-move7;
}
.loader .box7 div {
  -webkit-animation-name: box-scale7;
          animation-name: box-scale7;
}

@-webkit-keyframes box-move0 {
  12% {
    transform: translate(var(--x), var(--y));
  }
  25%, 52% {
    transform: translate(0, 0);
  }
  80% {
    transform: translate(0, -32px);
  }
  90%, 100% {
    transform: translate(0, 188px);
  }
}

@keyframes box-move0 {
  12% {
    transform: translate(var(--x), var(--y));
  }
  25%, 52% {
    transform: translate(0, 0);
  }
  80% {
    transform: translate(0, -32px);
  }
  90%, 100% {
    transform: translate(0, 188px);
  }
}
@-webkit-keyframes box-scale0 {
  6% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  14%, 100% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@keyframes box-scale0 {
  6% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  14%, 100% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@-webkit-keyframes box-move1 {
  16% {
    transform: translate(var(--x), var(--y));
  }
  29%, 52% {
    transform: translate(0, 0);
  }
  80% {
    transform: translate(0, -32px);
  }
  90%, 100% {
    transform: translate(0, 188px);
  }
}
@keyframes box-move1 {
  16% {
    transform: translate(var(--x), var(--y));
  }
  29%, 52% {
    transform: translate(0, 0);
  }
  80% {
    transform: translate(0, -32px);
  }
  90%, 100% {
    transform: translate(0, 188px);
  }
}
@-webkit-keyframes box-scale1 {
  10% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  18%, 100% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@keyframes box-scale1 {
  10% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  18%, 100% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@-webkit-keyframes box-move2 {
  20% {
    transform: translate(var(--x), var(--y));
  }
  33%, 52% {
    transform: translate(0, 0);
  }
  80% {
    transform: translate(0, -32px);
  }
  90%, 100% {
    transform: translate(0, 188px);
  }
}
@keyframes box-move2 {
  20% {
    transform: translate(var(--x), var(--y));
  }
  33%, 52% {
    transform: translate(0, 0);
  }
  80% {
    transform: translate(0, -32px);
  }
  90%, 100% {
    transform: translate(0, 188px);
  }
}
@-webkit-keyframes box-scale2 {
  14% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  22%, 100% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@keyframes box-scale2 {
  14% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  22%, 100% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@-webkit-keyframes box-move3 {
  24% {
    transform: translate(var(--x), var(--y));
  }
  37%, 52% {
    transform: translate(0, 0);
  }
  80% {
    transform: translate(0, -32px);
  }
  90%, 100% {
    transform: translate(0, 188px);
  }
}
@keyframes box-move3 {
  24% {
    transform: translate(var(--x), var(--y));
  }
  37%, 52% {
    transform: translate(0, 0);
  }
  80% {
    transform: translate(0, -32px);
  }
  90%, 100% {
    transform: translate(0, 188px);
  }
}
@-webkit-keyframes box-scale3 {
  18% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  26%, 100% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@keyframes box-scale3 {
  18% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  26%, 100% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@-webkit-keyframes box-move4 {
  28% {
    transform: translate(var(--x), var(--y));
  }
  41%, 52% {
    transform: translate(0, 0);
  }
  80% {
    transform: translate(0, -32px);
  }
  90%, 100% {
    transform: translate(0, 188px);
  }
}
@keyframes box-move4 {
  28% {
    transform: translate(var(--x), var(--y));
  }
  41%, 52% {
    transform: translate(0, 0);
  }
  80% {
    transform: translate(0, -32px);
  }
  90%, 100% {
    transform: translate(0, 188px);
  }
}
@-webkit-keyframes box-scale4 {
  22% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  30%, 100% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@keyframes box-scale4 {
  22% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  30%, 100% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@-webkit-keyframes box-move5 {
  32% {
    transform: translate(var(--x), var(--y));
  }
  45%, 52% {
    transform: translate(0, 0);
  }
  80% {
    transform: translate(0, -32px);
  }
  90%, 100% {
    transform: translate(0, 188px);
  }
}
@keyframes box-move5 {
  32% {
    transform: translate(var(--x), var(--y));
  }
  45%, 52% {
    transform: translate(0, 0);
  }
  80% {
    transform: translate(0, -32px);
  }
  90%, 100% {
    transform: translate(0, 188px);
  }
}
@-webkit-keyframes box-scale5 {
  26% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  34%, 100% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@keyframes box-scale5 {
  26% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  34%, 100% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@-webkit-keyframes box-move6 {
  36% {
    transform: translate(var(--x), var(--y));
  }
  49%, 52% {
    transform: translate(0, 0);
  }
  80% {
    transform: translate(0, -32px);
  }
  90%, 100% {
    transform: translate(0, 188px);
  }
}
@keyframes box-move6 {
  36% {
    transform: translate(var(--x), var(--y));
  }
  49%, 52% {
    transform: translate(0, 0);
  }
  80% {
    transform: translate(0, -32px);
  }
  90%, 100% {
    transform: translate(0, 188px);
  }
}
@-webkit-keyframes box-scale6 {
  30% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  38%, 100% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@keyframes box-scale6 {
  30% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  38%, 100% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@-webkit-keyframes box-move7 {
  40% {
    transform: translate(var(--x), var(--y));
  }
  53%, 52% {
    transform: translate(0, 0);
  }
  80% {
    transform: translate(0, -32px);
  }
  90%, 100% {
    transform: translate(0, 188px);
  }
}
@keyframes box-move7 {
  40% {
    transform: translate(var(--x), var(--y));
  }
  53%, 52% {
    transform: translate(0, 0);
  }
  80% {
    transform: translate(0, -32px);
  }
  90%, 100% {
    transform: translate(0, 188px);
  }
}
@-webkit-keyframes box-scale7 {
  34% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  42%, 100% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@keyframes box-scale7 {
  34% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  42%, 100% {
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@-webkit-keyframes ground {
  0%, 65% {
    transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px) translateZ(100px) scale(0);
  }
  75%, 90% {
    transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px) translateZ(100px) scale(1);
  }
  100% {
    transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px) translateZ(100px) scale(0);
  }
}
@keyframes ground {
  0%, 65% {
    transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px) translateZ(100px) scale(0);
  }
  75%, 90% {
    transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px) translateZ(100px) scale(1);
  }
  100% {
    transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px) translateZ(100px) scale(0);
  }
}
@-webkit-keyframes ground-shine {
  0%, 70% {
    opacity: 0;
  }
  75%, 87% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}
@keyframes ground-shine {
  0%, 70% {
    opacity: 0;
  }
  75%, 87% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes mask {
  0%, 65% {
    opacity: 0;
  }
  66%, 100% {
    opacity: 1;
  }
}
@keyframes mask {
  0%, 65% {
    opacity: 0;
  }
  66%, 100% {
    opacity: 1;
  }
}


small {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 50%;
  font-family: Arial;
  max-width: 320px;
  font-size: 12px;
  line-height: 19px;
  z-index: 1;
  color: #6C7486;
}
@media (min-width: 481px) {
  small {
    transform: translateX(-50%);
    text-align: center;
  }
}
@media (max-width: 480px) {
  small {
    left: 20px;
    right: 112px;
    font-size: 10px;
    line-height: 17px;
    transform: translateZ(400px);
  }
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
}
*:before, *:after {
  box-sizing: inherit;
}

#loader-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} .dribbble {
  position: fixed;
  display: block;
  right: 24px;
  bottom: 24px;
}
 .dribbble img {
  display: block;
  width: 76px;
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300);


body,
html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--mainClr);
}

#navigation li a {
  color: var(--subClr);
  font-weight: 700;
}

#navigation li:hover {
  background-color: var(--subClr);
  border-radius: 10px;
}

#navigation a:hover {
  color: var(--subClr2);
}

.container-fluid {
  margin: 0;
  padding: 0;
}

#home,
#events {
  width: 100%;
  height: 100vh;
  overflow:hidden;
  position:relative;
  z-index:0;
  background-color:transparent;
}
#events{
  height:120vh;
}

#owl-left,
#owl-right {
  height: 500px;
  display: block;
  position: absolute;
  top: 100px;
}
#owl-right {
  right: 0;
  transform: rotateY(180deg);
}

canvas{

position:absolute;
z-index: -3;
left:-2%;
overflow:hidden;
top:100vh;
}
.card hr{
  width:100%;
  background-color:var(--subClr);
  

}

.card h4{
  color:var(--subClr);
}


#owl {
  display: none;
}

#logo {
  height: 160px;
  width: auto;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100px;
}
#hbox1 {
  width: 90%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#hbox1 span {
  color: var(--subClr2);
  font-size: 80px;
  font-family: "Times New Roman", Times, serif;
}
#hbox1 span:first-child,
#hbox1 span:last-child {
  font-size: 95px;
}

#hbox1 span:nth-child(3),
#hbox1 span:nth-child(4),
#hbox1 #year span:nth-child(1) {
  color: var(--subClr);
}

#hbox1 #year {
  left: 50%;
  transform: translate(-50%);
  position: absolute;
  top: -35px;
}
#hbox1 #year span {
  font-size: 40px;
}

.socialmedialinks {
  margin-top: -60px;
}
.socialmedialinks a {
  text-decoration: none;
  color: var(--subClr2);
}

.social-media-link--facebook:before {
  background-image: linear-gradient(
    45deg,
    #000 0%,
    #000 49%,
    var(--facebook) 50%
  );
}

.social-media-link--instagram:before {
  background-image: linear-gradient(
    45deg,
    #000 0%,
    #000 49%,
    var(--instagram) 50%
  );
}

.social-media-link--youtube:before {
  background-image: linear-gradient(
    45deg,
    #000 0%,
    #000 49%,
    var(--youtube) 50%
  );
}

.social-media-links {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 100px;
}

.social-media-link {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  position: relative;
  transition: transform 0.5s ease-in-out;
  border-radius: 50%;
}
.social-media-link > i {
  z-index: 1;
}
.social-media-link:before {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  content: "";
  position: absolute;
  background-size: 300%;
  background-position: 0% 0%;
  transition: background-position 0.55s cubic-bezier(0.79, 0.14, 0.15, 0.86);
}
.social-media-link:hover,
.social-media-link:active,
.social-media-link:focus {
  transform: translateY(-1px);
  padding-bottom: 10px;
}
.social-media-link:hover:before,
.social-media-link:active:before,
.social-media-link:focus:before {
  background-position: top right;
}
.social-media-link + .social-media-link {
  margin-left: 4px;
}

#scrollDown {
  color: var(--subClr);
  position: absolute;
  top: 110%;
left:50%;
transform:translateX(-50%);
  opacity: 0.3;
}

#scrollDown i{
    font-size:40px;
    animation:scrollDown 2s infinite;
}
@keyframes scrollDown{
    from{
        transform:rotate(0);
    }to{
        transform:rotate(360deg);
    }
}
#scrollDown a {
  color: var(--subClr);
  text-decoration: none;
}


#scrollDown:hover {
  opacity: 1;
}



#moon {
  display: block;
  width: 900px;
  opacity: 0.3;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 19%);
  z-index: -2;
  /* display:none; */
}
.about-curved {
  position: absolute;
  /* background: var(--subClr); */
 height:100vh;
 opacity:0.4;
 width:50%;
 border-radius:0% 100% 100% 0% / 0% 50% 50% 100%  ;
 
  left:0;
  top:0;

}

.card{
  background-color:var(--mainClr);
  border-radius:15px;
  color:var(--subClr2);
  opacity:0.6;
  border:2px solid var(--subClr);
  position:relative;
}
.roundedCard{
  position:absolute;
  height:140px;
  width:140px;
  resize:both;
  border:2px solid var(--subClr);
  border-radius:50%;
  left:-5vmin;
  top:50%;
  transform:translate(0, -50%);
  background-color:var(--mainClr);
  animation: roundedCard 1s forwards 1s;
}




@keyframes roundedCard {
  from{
  left:50px;

  }
  to{
    left:-126px;
  }
}
.roundedCard img{
  display:block;
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
}
#aheading,
#eheading {
  color: var(--subClr);
  font-weight: 700;
}



#events {
  /* z-index: -1; */
  margin-bottom: 180px;
}
#ebuttons {
  display: grid;
  justify-content: center;
  grid-auto-flow: column;
  grid-column-gap: 25px;
}


#ebuttons button
 {
  border: 2px solid var(--subClr);
  background-color: transparent;
  color: var(--subClr);
  border-radius: 10px;
  font-weight: 700;
}

#ebuttons button:hover,
#ebuttons button:focus
 {
  background-color: var(--subClr2);
  color: var(--subClr);
  font-weight: 700;
}

.eventsection {
  display: grid;
  position: absolute;
  width: 100%;
  margin-left: 0%;
  margin-top: 30px;
}

#esection2,
#esection3 {
  margin-left: -100%;
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  z-index: 0;
}

.swiper-slide {
  background-position: center;
  background-size: contain;
  width: 300px;
  height: 400px;
  background-repeat:no-repeat;
  display:grid;
  place-items:center;
 font-family:'Potta One',cursive;
  color:var(--mainClr);
  border-radius:10px;
  background-color:var(--mainClr);

}
.swiper-slide span{
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 75%, 75% 100%, 50% 75%, 0% 75%);
  background-color:var(--subClr);
 
  font-size:30px;

  padding-bottom:20px;
  padding-left:5px;
  padding-right:5px;
  border-radius:10px;

  text-transform:capitalize;
}

.swiper-slide:hover{
  border:2px solid var(--subClr);
}



@keyframes animEsection {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}
@keyframes animEsection2 {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: -100%;
  }
}

.curved {
  background: var(--subClr);
  position:relative;
  height: 30vh;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
}

footer {
  position: absolute;
  width: 100%;
  background: var(--mainClr);
  color: #868c96;
  bottom:5%;
  border-radius: 25% 23% 10% 10% / 89% 89% 10% 10%;
}

footer p {
  padding: 20px 0;
  text-align: center;
}

#upbtn {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
#upbtn .fa {
  font-size: 36px;
  background-color: var(--mainClr);
  border-radius:50%;
}
#upbtn a {
  text-decoration: none;
  color: var(--subClr);
}
#upbtn a:hover,
#upbtn a:focus {
  color: orangered;
}
.btn:focus {
  outline: none;
}


@media only screen and (min-width: 767px) and (max-width: 1023px) {
  #moon {
    width: 700px;
  }
}


/* based on the height of the  */
@media only screen and (min-height: 1200px) {
  #home,
  #about,
  #events {
    height: 50vh;
  }
  #hbox1 {
    top:50%;
   left:50%;
   transform:translate(-50%, -50%);
  }

  #moon {
    transform: translate(-50%, -20%);
  }
  .curved {
    height: 16vh;
  }

  @keyframes roundedCard {
    from{
    left:-5vmin;
  
    }
    to{
      left:-13vmin;
    }
  }

}


@media only screen and (max-width: 999px) {
  #moon {
    width: 540px;
    height: 540px;
  }

  .roundedCard{

    left:50%;
    transform:translate(-50%, -50%);
    top:12vmin;

    animation:lroundedCard 1s forwards 1s;

  }

  .card{
    margin-bottom:150px;
  }

  .card:nth-child(1){
    margin-top:100px;
  }
  .card:nth-child(2){

    margin-top:0;
  }

 
  @keyframes lroundedCard{
    from{

      top:12vmin;
    }to{
      top:-60px;
    }
  }


}


@media only screen and (min-height:950px)
{
  #home
 {
    height:60vh;
  }
  #events{
    height:80vh;
  }

  #about{
    height:auto;
  }
#logo{
  height:130px;
}
  #owl-right,
  #owl-left {
    height:400px;
  }
  .curved{
    height:20vh;
  }
  canvas{
    top:55vh;
  }


@keyframes lroundedCard{
  from{

    top:12vmin;
  }to{
    top:-7vmin;
  }

}

#events{

  margin-top:150px;
  
}



}


/* 540px and below */
@media only screen and (max-width: 600px) {
  #navigation {
    z-index: 1;
  }
 
  #events {
  
    margin-bottom: 100px;
    height:100vh;
  }

 

  #moon {
  display:none;
  }

 

  #scrollDown {
    bottom: 6vh;
  }
 
  #owl-left,
  #owl-right {
    display: none;
  }

  #owl {
    width: 275px;
    height: auto;
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    top: 188px;
  }
  
  @keyframes lroundedCard{
    from{

      top:12vmin;
    }to{
      top:-12vmin;
    }
  }
}

@media only screen and (max-width: 400px) {

  #events{
    height:110vh;
  }
  #logo {
    height: 150px;
    width: auto;
  }

  #hbox1 span {
    color: var(--subClr2);
    font-size: 70px;
    font-family: "Times New Roman", Times, serif;
  }
  #hbox1 span:first-child,
  #hbox1 span:last-child {
    font-size: 85px;
  }

  #hbox1 #year span {
    font-size: 30px;
  }

  #moon {
    width: 300px;
    height: 300px;
  }

  .swiper-container {
    width: 99.8%;
    /* height:450px; */
  }

 
 

  #events {
    margin-top: 100px;
  }
  
  @keyframes lroundedCard{
    from{

      top:12vmin;
    }to{
      top:-16vmin;
    }
  }
}

@media only screen and (min-width:1400px){

  @keyframes roundedCard {
    from{
    left:-5vmin;
  
    }
    to{
      left:-12vmin;
    }
  }

  #scrollDown {
    color: var(--subClr);
    position: absolute;
    top: 103%;
    left:50%;
    transform:translateX(-50%);
    opacity: 0.3;
}

#moon {
    width: 800px;
  }

canvas{

position:absolute;
z-index: -3;
left:-2%;
top:60vh;


}

}
